@font-face{
    font-family:NanumSquare;
    font-style:normal;
    font-weight:normal;
    src:url('../fonts/NanumSquareR.woff');
    src:local('?'),url('../fonts/NanumSquareR.woff') format('woff');}

body{
    font-family:NanumSquare,sans-serif;
    font-weight:normal;
}

body.example{
    display: table;
    width: 100%;
    margin: initial;
}
